<table class="table" ng-if="menu.foundItems.length">
  <tr>
    <th>Name</td>
    <th>Short Name</td>
    <th>Description</td>
    <th></td>
  </tr>
  <tr ng-repeat="item in menu.foundItems">
    <td>{{item.name}}</td>
    <td>{{item.short_name}}</td>
    <td>{{item.description}}</td>
    <td>
      <button class="btn btn-default" ng-click="menu.onRemove({index: $index})">
        Don't want this one!
      </button>
    </td>
  </tr>
</table>
<div class="alert alert-danger" role="alert" ng-show="menu.onEmpty">{{menu.onEmpty}}</div>
